* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Kameron&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');




.img1{
  
    width: 240px;
    border-radius: 15px;  
    align-items: center;
    margin:auto;
    margin-top: 1rem;
	display: flex;
	justify-content: center;
    
     
}

h1{
    text-align: center;
    margin-top: 0.1rem;
    
}